.dificulty{
    display: flex;
    justify-content: center;
    height: max-content;
    z-index: 1;
  .btnStartGame{
        position: relative;
        top: 5rem;
        
        @include button-start;
  }
}

.titleDificulty{
    visibility: hidden;
    opacity: 0%;

    position: absolute;
    top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 19rem;
    height: 6rem;
    padding-bottom: 0.5rem;
    border-radius: 7px;
    background-color: $amarelo-primario;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.33);
    p{
        font-family: 'Simpsons', Arial;
        font-size: 1.7rem;
        text-align: center;
    }
   .container-dificulty-choice{
        font-family: 'Simpsons', Arial;
        font-size: 0.8rem;
        text-align: center; 
        background-color: transparent;
        b{
            font-family: 'Comic', sans-serif;
        }
    span{
        font-family: 'Simpsons', Arial;
        font-size: 0.8rem;
        text-align: center; 
        background-color: transparent;
        color: $branco;
    }
   }
}

.dificultys-images{
    position: absolute;
    bottom: 3rem;
    display: flex;
    gap: 10rem;
    overflow: hidden;
    .dificulty-facil{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: -20rem;
        button{
            background-color: transparent;
            border: none;
            img{
                height: 17rem;
                opacity: 70%;
            }
            p{
                font-family: 'Simpsons', Arial;
                font-size: 1.5rem;
            }
        }
    }
    .dificulty-medio{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: -20rem;
        button{
            background-color: transparent;
            border: none;
            img{
                height: 17rem;
                opacity: 70%;
                
            }
            p{
                font-family: 'Simpsons', Arial;
                font-size: 1.5rem;
            }
        }
    }
    .dificulty-dificil{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: -20rem;
        button{
            background-color: transparent;
            border: none;
            img{
                height: 17rem;
                opacity: 70%;
            }
            p{
                font-family: 'Simpsons', Arial;
                font-size: 1.5rem;
            }
        }
    }
}